# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
telgo

# Test binary, built with `go test -c`
*.test

# Code coverage
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Dependencies
# vendor/

# Secrets & session
.env
*.session
session.json

# Editor
.idea/
.vscode/
